$base-val: 8;

$small-margin: $base-val * 1px;
$small-padding: $base-val * 1px;
$small-width: $base-val * 25px;
$small-border-radius: $base-val * 0.5px;

$medium-width: $base-val * 35px;
$medium-height: $base-val * 40px;
$medium-border-radius: $base-val * 1px;

$primary-color: #e6008a;
$secondary-color: #F6AE2D;
$white: #E8E9EB;
$black: #221D23;
